extends layout/main
block content
    form(action="/api/productos" class="container" method="post")
        div(class="form-group")
            label(for="title")
                b Nombre
            input(type="text", class="form-control", name="title")
            Visible
        div(class="form-group")
            label(for="price")
                b Precio
            input(type="number", class="form-control", name="price")
            Visible
        div(class="form-group")
            label(for="thumbnail") 
                b Url de Imagen
            input(type="text", class="form-control", name="thumbnail")
            Visible
        button(class="btn btn-succes mt-3 mb-5", style="background-color: blue;") Enviar
