<body>
    
<h1>Faltan completar alguno de los campos</h1>
<a href="/api/"> <button>Volver al formulario</button></a>

<a href="/api/productos"><button >Ver productos agregados</button></a>
</body>
</html>